body {
  font-family: 'helvetica neue', sans-serif;
  margin: 0 auto;
  width: 60%;
}

.head {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid grey;
}

h1 {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: -10px;
}

h2 {
  font-size: 15px;
}
